<h1>RapportiInLavorazione#index</h1>
<p>Find me in app/views/rapporti_in_lavorazione/index.html.erb</p>

<%=  render :active_scaffold => 'rapporti', :constraints => { :status => "in lavorazione" } %>
