-- MySQL dump 10.13  Distrib 5.5.62, for linux-glibc2.12 (x86_64)
--
-- Host: localhost    Database: barbera_development
-- ------------------------------------------------------
-- Server version	5.5.62

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auto_prova_rapporto_items`
--

DROP TABLE IF EXISTS `auto_prova_rapporto_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auto_prova_rapporto_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prova_id` int(11) DEFAULT NULL,
  `rapporto_id` int(11) DEFAULT NULL,
  `prezzo` float DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auto_prova_rapporto_items`
--

LOCK TABLES `auto_prova_rapporto_items` WRITE;
/*!40000 ALTER TABLE `auto_prova_rapporto_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `auto_prova_rapporto_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campione_prova_items`
--

DROP TABLE IF EXISTS `campione_prova_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campione_prova_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campione_id` int(11) DEFAULT NULL,
  `prova_id` int(11) DEFAULT NULL,
  `prezzo` float DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campione_prova_items`
--

LOCK TABLES `campione_prova_items` WRITE;
/*!40000 ALTER TABLE `campione_prova_items` DISABLE KEYS */;
INSERT INTO `campione_prova_items` VALUES (5,3,9,0,'2010-02-12 19:32:19','2010-02-12 19:32:19'),(6,3,8,0,'2010-02-12 19:32:19','2010-02-12 19:32:19'),(7,3,10,0,'2010-02-12 19:32:19','2010-02-12 19:32:19');
/*!40000 ALTER TABLE `campione_prova_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campione_tipologia_items`
--

DROP TABLE IF EXISTS `campione_tipologia_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campione_tipologia_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campione_id` int(11) DEFAULT NULL,
  `tipologia_id` int(11) DEFAULT NULL,
  `prezzo` float DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `numero` int(11) DEFAULT NULL,
  `data` date DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campione_tipologia_items`
--

LOCK TABLES `campione_tipologia_items` WRITE;
/*!40000 ALTER TABLE `campione_tipologia_items` DISABLE KEYS */;
INSERT INTO `campione_tipologia_items` VALUES (3,3,5,0,'2010-02-12 19:32:19','2010-02-12 19:32:19',NULL,NULL,NULL),(4,4,6,0,'2010-02-12 19:53:23','2010-02-12 19:53:23',NULL,NULL,NULL),(5,1,6,0,'2010-02-12 19:54:03','2010-02-12 19:54:03',NULL,NULL,NULL);
/*!40000 ALTER TABLE `campione_tipologia_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campioni`
--

DROP TABLE IF EXISTS `campioni`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campioni` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) DEFAULT NULL,
  `campione_di` varchar(255) DEFAULT NULL,
  `etichetta` text,
  `nome_richiedente` varchar(255) DEFAULT NULL,
  `numero` int(11) DEFAULT NULL,
  `data` date DEFAULT NULL,
  `campionamento` varchar(255) DEFAULT NULL,
  `non_conforme_motivo` varchar(255) DEFAULT NULL,
  `suggello` varchar(255) DEFAULT NULL,
  `comune` varchar(255) DEFAULT NULL,
  `provincia` varchar(255) DEFAULT NULL,
  `localit??` varchar(255) DEFAULT NULL,
  `tipo_di_coltura` varchar(255) DEFAULT NULL,
  `fase_coltura` varchar(255) DEFAULT NULL,
  `ettari` varchar(255) DEFAULT NULL,
  `superficie_di_prelievo` varchar(255) DEFAULT NULL,
  `profondita_di_prelievo` varchar(255) DEFAULT NULL,
  `numero_foglio_di_mappa` varchar(255) DEFAULT NULL,
  `particelle` varchar(255) DEFAULT NULL,
  `note` text,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `anno` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=396 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campioni`
--

LOCK TABLES `campioni` WRITE;
/*!40000 ALTER TABLE `campioni` DISABLE KEYS */;
/*!40000 ALTER TABLE `campioni` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clienti`
--

DROP TABLE IF EXISTS `clienti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clienti` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) DEFAULT NULL,
  `denominazione` varchar(255) DEFAULT NULL,
  `codice` varchar(255) DEFAULT NULL,
  `indirizzo` varchar(255) DEFAULT NULL,
  `cap` varchar(255) DEFAULT NULL,
  `comune` varchar(255) DEFAULT NULL,
  `provincia` varchar(255) DEFAULT NULL,
  `partita_iva` varchar(255) DEFAULT NULL,
  `codice_fiscale` varchar(255) DEFAULT NULL,
  `tel` varchar(255) DEFAULT NULL,
  `fax` varchar(255) DEFAULT NULL,
  `email_per_notifiche` varchar(255) DEFAULT NULL,
  `cellulare_per_sms` varchar(255) DEFAULT NULL,
  `titolare_cellulare` varchar(255) DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `cellulare_per_sms_2` varchar(255) DEFAULT NULL,
  `titolare_cellulare_2` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clienti`
--

LOCK TABLES `clienti` WRITE;
/*!40000 ALTER TABLE `clienti` DISABLE KEYS */;
/*!40000 ALTER TABLE `clienti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fattura_rapporto_items`
--

DROP TABLE IF EXISTS `fattura_rapporto_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fattura_rapporto_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fattura_id` int(11) DEFAULT NULL,
  `rapporto_id` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fattura_rapporto_items`
--

LOCK TABLES `fattura_rapporto_items` WRITE;
/*!40000 ALTER TABLE `fattura_rapporto_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `fattura_rapporto_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fatture`
--

DROP TABLE IF EXISTS `fatture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fatture` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) DEFAULT NULL,
  `numero` int(11) DEFAULT NULL,
  `anno` int(11) DEFAULT NULL,
  `data_emissione` date DEFAULT NULL,
  `percentuale_sconto` float DEFAULT '0',
  `data_inizio` date DEFAULT NULL,
  `data_fine` date DEFAULT NULL,
  `data_pagamento` date DEFAULT NULL,
  `totale_in_pdf` float DEFAULT NULL,
  `pdf_esiste` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `note` text,
  `usa_indirizzo_di_fatturazione` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fatture`
--

LOCK TABLES `fatture` WRITE;
/*!40000 ALTER TABLE `fatture` DISABLE KEYS */;
/*!40000 ALTER TABLE `fatture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matrici`
--

DROP TABLE IF EXISTS `matrici`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matrici` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) DEFAULT NULL,
  `nome_esteso` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matrici`
--

LOCK TABLES `matrici` WRITE;
/*!40000 ALTER TABLE `matrici` DISABLE KEYS */;
INSERT INTO `matrici` VALUES (3,'Olio','Olio','2010-02-12 11:18:36','2010-05-08 12:04:46'),(4,'Suolo','Suolo','2010-02-12 12:13:08','2010-05-08 12:04:35'),(5,'Enologia','Enologia (Vino-mosti)','2010-02-12 16:42:43','2010-02-15 16:18:56'),(6,'Concime','Concime','2010-05-07 18:02:02','2010-05-07 18:02:02'),(7,'Terreno','Terreno','2010-05-08 12:05:49','2010-05-08 12:05:49');
/*!40000 ALTER TABLE `matrici` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parametri`
--

DROP TABLE IF EXISTS `parametri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parametri` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codice` varchar(255) DEFAULT NULL,
  `nome` varchar(255) DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `valore` text NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parametri`
--

LOCK TABLES `parametri` WRITE;
/*!40000 ALTER TABLE `parametri` DISABLE KEYS */;
/*!40000 ALTER TABLE `parametri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prova_rapporto_items`
--

DROP TABLE IF EXISTS `prova_rapporto_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prova_rapporto_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prova_id` int(11) DEFAULT NULL,
  `rapporto_id` int(11) DEFAULT NULL,
  `prezzo` float DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `position` decimal(15,0) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1311 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prova_rapporto_items`
--

LOCK TABLES `prova_rapporto_items` WRITE;
/*!40000 ALTER TABLE `prova_rapporto_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `prova_rapporto_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prova_tipologia_items`
--

DROP TABLE IF EXISTS `prova_tipologia_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prova_tipologia_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prova_id` int(11) DEFAULT NULL,
  `tipologia_id` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=310 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prova_tipologia_items`
--

LOCK TABLES `prova_tipologia_items` WRITE;
/*!40000 ALTER TABLE `prova_tipologia_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `prova_tipologia_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prova_variabile_items`
--

DROP TABLE IF EXISTS `prova_variabile_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prova_variabile_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prova_id` int(11) DEFAULT NULL,
  `variabile_id` int(11) DEFAULT NULL,
  `da_mostrare` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=161 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prova_variabile_items`
--

LOCK TABLES `prova_variabile_items` WRITE;
/*!40000 ALTER TABLE `prova_variabile_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `prova_variabile_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prove`
--

DROP TABLE IF EXISTS `prove`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prove` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `matrice_id` int(11) DEFAULT NULL,
  `nome` varchar(255) DEFAULT NULL,
  `nome_esteso` varchar(255) DEFAULT NULL,
  `metodo_di_prova` varchar(255) DEFAULT NULL,
  `subappalto` tinyint(1) DEFAULT NULL,
  `prezzo` float DEFAULT '0',
  `note` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prove`
--

LOCK TABLES `prove` WRITE;
/*!40000 ALTER TABLE `prove` DISABLE KEYS */;
/*!40000 ALTER TABLE `prove` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rapporti`
--

DROP TABLE IF EXISTS `rapporti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rapporti` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tipologia_id` int(11) DEFAULT NULL,
  `campione_id` int(11) DEFAULT NULL,
  `numero` int(11) DEFAULT NULL,
  `numero_supplemento` int(11) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `data_richiesta` date DEFAULT NULL,
  `data_scadenza` datetime DEFAULT NULL,
  `data_invio_email` datetime DEFAULT NULL,
  `data_invio_sms` datetime DEFAULT NULL,
  `data_esecuzione_prove_inizio` date DEFAULT NULL,
  `data_esecuzione_prove_fine` date DEFAULT NULL,
  `data_stampa` date DEFAULT NULL,
  `prezzo` float DEFAULT '0',
  `note` text,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `anno` int(11) DEFAULT NULL,
  `pie_pagina` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=529 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rapporti`
--

LOCK TABLES `rapporti` WRITE;
/*!40000 ALTER TABLE `rapporti` DISABLE KEYS */;
/*!40000 ALTER TABLE `rapporti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `risultati`
--

DROP TABLE IF EXISTS `risultati`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `risultati` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `variabile_id` int(11) DEFAULT NULL,
  `campione_id` int(11) DEFAULT NULL,
  `data` int(11) DEFAULT NULL,
  `valore_numero` decimal(25,11) DEFAULT NULL,
  `valore_testo` varchar(255) DEFAULT NULL,
  `incertezza_di_misura` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `risultati`
--

LOCK TABLES `risultati` WRITE;
/*!40000 ALTER TABLE `risultati` DISABLE KEYS */;
/*!40000 ALTER TABLE `risultati` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schema_migrations`
--

DROP TABLE IF EXISTS `schema_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schema_migrations` (
  `version` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  UNIQUE KEY `unique_schema_migrations` (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schema_migrations`
--

LOCK TABLES `schema_migrations` WRITE;
/*!40000 ALTER TABLE `schema_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `schema_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(255) COLLATE utf8_unicode_ci NOT NULL,
  `data` text COLLATE utf8_unicode_ci,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `index_sessions_on_session_id` (`session_id`),
  KEY `index_sessions_on_updated_at` (`updated_at`)
) ENGINE=InnoDB AUTO_INCREMENT=1524 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipologie`
--

DROP TABLE IF EXISTS `tipologie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipologie` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `matrice_id` int(11) DEFAULT NULL,
  `nome` varchar(255) DEFAULT NULL,
  `nome_esteso` varchar(255) DEFAULT NULL,
  `forfeit` tinyint(1) DEFAULT NULL,
  `prezzo` float DEFAULT '0',
  `note` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `sinal` tinyint(1) DEFAULT NULL,
  `pie_pagina` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipologie`
--

LOCK TABLES `tipologie` WRITE;
/*!40000 ALTER TABLE `tipologie` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipologie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `udm_items`
--

DROP TABLE IF EXISTS `udm_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `udm_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `udm_items`
--

LOCK TABLES `udm_items` WRITE;
/*!40000 ALTER TABLE `udm_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `udm_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_sessions`
--

DROP TABLE IF EXISTS `user_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_sessions`
--

LOCK TABLES `user_sessions` WRITE;
/*!40000 ALTER TABLE `user_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) DEFAULT NULL,
  `nome` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `role` int(11) DEFAULT NULL,
  `email` varchar(255) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `crypted_password` varchar(255) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `password_salt` varchar(255) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `persistence_token` varchar(255) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `single_access_token` varchar(255) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `perishable_token` varchar(255) COLLATE utf8_unicode_ci NOT NULL DEFAULT '',
  `login_count` int(11) NOT NULL DEFAULT '0',
  `failed_login_count` int(11) NOT NULL DEFAULT '0',
  `last_request_at` datetime DEFAULT NULL,
  `current_login_at` datetime DEFAULT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `current_login_ip` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `last_login_ip` varchar(255) COLLATE utf8_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variabile_rapporto_items`
--

DROP TABLE IF EXISTS `variabile_rapporto_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variabile_rapporto_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `variabile_id` int(11) DEFAULT NULL,
  `rapporto_id` int(11) DEFAULT NULL,
  `data` date DEFAULT NULL,
  `valore_numero` decimal(25,11) DEFAULT NULL,
  `valore_testo` varchar(255) DEFAULT NULL,
  `incertezza_di_misura` varchar(255) DEFAULT NULL,
  `errore` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `valore_numero_forzato` decimal(25,11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7730 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variabile_rapporto_items`
--

LOCK TABLES `variabile_rapporto_items` WRITE;
/*!40000 ALTER TABLE `variabile_rapporto_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `variabile_rapporto_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variabili`
--

DROP TABLE IF EXISTS `variabili`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variabili` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `matrice_id` int(11) DEFAULT NULL,
  `udm_item_id` int(11) DEFAULT NULL,
  `nome` varchar(255) DEFAULT NULL,
  `nome_esteso` varchar(255) DEFAULT NULL,
  `simbolo` varchar(255) DEFAULT NULL,
  `funzione` varchar(255) DEFAULT NULL,
  `tipo` varchar(255) DEFAULT NULL,
  `min` float DEFAULT NULL,
  `max` float DEFAULT NULL,
  `decimali` int(11) DEFAULT NULL,
  `forza_zero` tinyint(1) DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=325 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variabili`
--

LOCK TABLES `variabili` WRITE;
/*!40000 ALTER TABLE `variabili` DISABLE KEYS */;
/*!40000 ALTER TABLE `variabili` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-25 18:37:41
