<p>
  <b>Prova:</b>
  <%=h @prova_tipologia_item.prova_id %>
</p>

<p>
  <b>Tipologia:</b>
  <%=h @prova_tipologia_item.tipologia_id %>
</p>


<%= link_to 'Edit', edit_prova_tipologia_item_path(@prova_tipologia_item) %> |
<%= link_to 'Back', prova_tipologia_items_path %>