<h1>Editing parametro</h1>

<% form_for(@parametro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :codice %><br />
    <%= f.text_field :codice %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :valore %><br />
    <%= f.text_area :valore %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @parametro %> |
<%= link_to 'Back', parametri_path %>