/* Global styles with rails-scaffold's basic css */

/* Default Facebook CSS tratto da http://devtacular.com/articles/bkonrad/how-to-style-an-application-like-facebook/ */
/* Prince http://www.princexml.com/doc/7.0/properties/ */

@page {
  size: a4;
  /* margin: 1.3cm; */
  /* top, right, bottom and left page margins */
  margin:  1cm 0.2cm 0.5cm 0.8cm;

  @top-right {
    content: string(title);
    font-style: italic;
  }
  @top-left {
    content: string(source);
    font-style: italic;
  }
  @bottom-right {
    font-size: 9px;
    content: "pag. " counter(page) " di " counter(pages);
    vertical-align: top;
    padding-top: 1em;
  }
}

/*
Prince fonts:
  per il font 'Times' metti 'serif'
  vedi http://www.princexml.com/doc/7.0/fonts/
Fonts microsoft a disposizione:
andale, arial, comic, curier, georgia, impact, times, trebuc, verdana, webdings
*/

body {
    font-family: serif, times, helvetica,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: black;
    line-height: 10pt;
    background: white;
    margin-left: 0%;
    padding-top: 0em;
    padding-left: 0em;
    }
h1, h2, h3, h4, h5 {
  font-size: 16px;
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 18px; 
  font-weight:100; }

h2 {
  font-size: 14px; }

h3 {
  font-size: 13px;
  font-weight:100;}

h4, h5 {
  font-size: 10px;}

hr {
  border-color: #C8C8C8;
  padding-top: 0ex;
  padding-bottom: 0ex;
  no-shade;
  height: 0px;
  border-width: 1px 0px 0px 0px;}

table.center {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    text-valign:top;}

table.campione_di {
    font-size: 13px;
    text-align:left;
    border-width: 0px 0px 0px 0px;
}

table.campione_di td {
    padding: 0px 0px 0px 10px;
}


table.fattura_tabella_prezzi {
    width: 95%;
    border-width: 0px 0px 0px 0px;
    text-align:left;
    font-size: 10px;}


table.fattura_tabella_prezzi th {
        font-size: 11px;
        text-align:center;
	border-width: 1px 1px 1px 1px;
        border-collapse: collapse;
	padding: 5px 5px 5px 10px;
	background-color: white;
}

table.fattura_tabella_prezzi td {
        font-size: 11px;
	border-width: 1px 1px 1px 1px;
        border-collapse: collapse;
        vertical-align: top;
	padding: 2px 2px 2px 10px;
}

table.fattura_allegato_a {
    width: 95%;
    border-width: 0px 0px 0px 0px;
    text-align:left;
    font-size: 10px;}


table.fattura_allegato_a th {
        font-size: 13px;
        text-align:center;
	border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-collapse: collapse;
	padding: 5px 5px 5px 10px;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.fattura_allegato_a td {
        font-size: 11px;
	padding: 2px 5px 2px 10px;
}

table.fattura_allegato_b {
    width: 95%;
    border-width: 0px 0px 0px 0px;
    text-align:left;
    font-size: 10px;}


table.fattura_allegato_b th {
        font-size: 13px;
        text-align:center;
	border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-collapse: collapse;
	padding: 5px 5px 5px 10px;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.fattura_allegato_b td {
        font-size: 11px;
        text-align:right;
	padding: 2px 5px 2px 10px;
}