<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />



    <% if params[:format] == 'pdf' %>
      <title>Anteprima risultati analisi</title>
      <meta name="author" content="Lab. Barbera"/>
      <meta name="subject" content="Anteprima risultati di analisi"/>
      <meta name="keywords" content="PDF, rapporto di prova"/>
    <% end %>
    <%= stylesheet_link_tag "anteprima_risultati", :media => "all" %>


  </head>
  <body>
        <%= yield %>
  </body>
</html>