<h1>Listing prova_tipologia_items</h1>

<table>
  <tr>
    <th>Prova</th>
    <th>Tipologia</th>
  </tr>

<% @prova_tipologia_items.each do |prova_tipologia_item| %>
  <tr>
    <td><%=h prova_tipologia_item.prova_id %></td>
    <td><%=h prova_tipologia_item.tipologia_id %></td>
    <td><%= link_to 'Show', prova_tipologia_item %></td>
    <td><%= link_to 'Edit', edit_prova_tipologia_item_path(prova_tipologia_item) %></td>
    <td><%= link_to 'Destroy', prova_tipologia_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prova_tipologia_item', new_prova_tipologia_item_path %>