<h1>New variabile</h1>

<% form_for(@variabile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :udm_item_id %><br />
    <%= f.text_field :udm_item_id %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :nome_esteso %><br />
    <%= f.text_field :nome_esteso %>
  </p>
  <p>
    <%= f.label :simbolo %><br />
    <%= f.text_field :simbolo %>
  </p>
  <p>
    <%= f.label :funzione %><br />
    <%= f.text_field :funzione %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :min %><br />
    <%= f.text_field :min %>
  </p>
  <p>
    <%= f.label :max %><br />
    <%= f.text_field :max %>
  </p>
  <p>
    <%= f.label :decimali %><br />
    <%= f.text_field :decimali %>
  </p>
  <p>
    <%= f.label :forza_zero %><br />
    <%= f.check_box :forza_zero %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', variabili_path %>