<p>
  <b>Nome:</b>
  <%=h @matrice.nome %>
</p>

<p>
  <b>Nome esteso:</b>
  <%=h @matrice.nome_esteso %>
</p>


<%= link_to 'Edit', edit_matrice_path(@matrice) %> |
<%= link_to 'Back', matrici_path %>