<% if flash[:notice] %>
<div id="notice" class="flash notice">
  <%= flash[:notice] %>
</div>
<% end %>

<% if flash[:error] %>
<div id="error" class="flash error">
  <%= flash[:error] %>
</div>
<% end %> 